<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-productList.css">
    <link rel="stylesheet" href="css/styles-header.css">
    <link rel="stylesheet" href="css/styles-footer.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Coffe & Books</title>
</head>

<body>


    <%- include('partials/mainHeader') %>

        <main class="listadoProductos">
            <section>
                <% lista.forEach(libro=> { %>
                    <article>
                        <img src="/Images/<%= libro.img %>">
                        <h1>
                            Titulo: <%= libro.titulo%>
                        </h1>
                        <h4>
                            Autor: <%= libro.autor%>
                        </h4>
                        <div class="detalles">
                            <p>
                                Genero: <%= libro.genre %>
                            </p>
                            <p>
                                Descripción: <%= libro.descripcion %>
                            </p>
                            <p>Precio: $ <%= libro.precio %>
                        </div>
                        </p>
                    </article>
                    <% }); %>
            </section>
        </main>

        <%- include('partials/mainFooter') %>
</body>

</html>